<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/header"); -%>

<div class="container-fluid">
    <div>
        <h1> <%= aboutPageContent %> </h1>
        <p> CENTSWOMAN is made up of six Nigerian women who are passionate about how women spend, save and invest their money.</p>
        <p>We want to help you make better decisions about your finance.</p>
    </div>
    
    <div>
        <img class="home-img" src='./images/home-img.jpeg' alt="six black women">
    </div>
    <a class="btn" href="/contact">Reach out</a>
</div>



<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/footer"); -%>