<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/header"); -%>

<div>
    <h1>Contact Us</h1>
    <p> <%= contactPageContent %> </p>
</div>

<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/footer"); -%>