<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/header"); -%>

<div class="container-fluid">
            <h1> <%= postName %> </h1> 
            <p> <%= postContent %> </p> 
</div>



<!-- Add our already existing header ejs partial -->
<%- include("../views/partials/footer"); -%>